.gradient {
  background-image: linear-gradient(
    to bottom right,
    theme("colors.foxfire"),
    theme("colors.ember")
  );
}

.clipWave {
  --position: -135px;
  transform: translateY(var(--position));
  transition: transform ease-in 125ms;
}

.gradient:hover .clipWave,
.gradient:focus .clipWave {
  --position: 0px;
  transition: transform ease-out 150ms;
}
