@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2?v=3.18") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2?v=3.18") format("woff2");
}

@tailwind base;
@tailwind components;

:root {
  --foreground: #fff;
  --background: #000;
  --skeleton_background: #111;
  --skeleton_foreground: #3a3a3a;
  --accent: #1a1a1a;
  --secondary: #b4b4b4;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-feature-settings: "calt", "case", "ss03", "cv02", "cv03", "cv04", "cv05",
    "cv07", "cv10", "cv11";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-lines > path {
  --steps: 45;
  stroke-dasharray: var(--steps);
  stroke-width: 1px;
}

@media screen and (max-resolution: 1.5dppx) {
  .animate-lines > path {
    animation: test 32s linear infinite;
  }
}
@media screen and (min-resolution: 1.5dppx) {
  .animate-lines > path {
    --steps: none;
  }
}

.animate-lines > path:nth-child(even) {
  --start: 0;
  --stop: 180;
  animation-direction: reverse;
}

.animate-lines > path:nth-child(odd) {
  --start: 0;
  --stop: 360;
}

@keyframes test {
  from {
    stroke-dashoffset: var(--start);
  }
  to {
    stroke-dashoffset: var(--stop);
  }
}

@media (hover: none) {
  .hideScrollbars::-webkit-scrollbar {
    display: none;
  }
  .hideScrollbars {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.skeleton {
  @apply animate-skeleton;
  color: transparent !important;
  background-image: linear-gradient(to right, #111, #3a3a3a, #111) !important;
  background-size: 400% 400% !important;
}

@tailwind utilities;
